Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-WTF==1.1.1
Flask-CORS==4.0.0
Flask-JWT-Extended==4.5.2
Flask-Migrate==4.0.4
redis==5.0.4
WTForms==3.0.1
PyJWT==2.10.1
python-docx==0.8.11
weasyprint==59.0
docxtopdf==0.5b0
comtypes==1.4.12; sys_platform == "win32"
Werkzeug==2.0.3
SQLAlchemy==1.4.46
pandas==1.5.3
openpyxl==3.0.10
numpy==1.21.6