{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="display-4">欢迎使用工厂管理系统</h1>
            <p class="lead">这是一个功能强大的工厂管理系统，支持模块化扩展和移动端访问。</p>
            <hr class="my-4">
            {% if current_user.is_authenticated %}
                <p>您好，{{ current_user.username }}！</p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('main.dashboard') }}" role="button">进入控制台</a>
            {% else %}
                <p>请登录或注册以开始使用系统。</p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">登录</a>
                <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.register') }}" role="button">注册</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}